<!--Main Navigation-->
<header>

    <nav class="navbar fixed-top navbar-expand-lg scrolling-navbar">
        <a class="navbar-brand" href="#"><img src="https://i.pinimg.com/236x/71/b3/e4/71b3e4159892bb319292ab3b76900930.jpg" style="width:120px;height:60px" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">Menu</span>
  </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="companyName" class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><strong>SELF SERVICE PORTAL</strong></a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/uploadfile"><i class="fas fa-file-alt"></i>Upload file</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login"><i class="fas fa-user-check"></i>Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fas fa-power-off"></i>
                    Logout</a>
                </li>

            </ul>
        </div>
    </nav>

</header>
<hr color="green">
<!--Main Navigation-->
